body {
    background-image: linear-gradient(0deg, #71d675, #eafd7f, #b5daea);
    height: 100vh;
    font-size: 20px;
    margin: 0px 40px;
}

p {
    text-align: justify;
}

#logo-img {
    display: block;
    margin: auto;
}