body {
    background-image: linear-gradient(0deg, #71d675, #eafd7f, #b5daea);
    height: 100vh;
    font-size: 20px;
    margin: 0px 40px;
}

p {
    text-align: justify;
}

#logo-img {
    display: block;
    margin: auto;
}

.curiosidade {
    background-image: url('imgs/favo-de-mel.png');

    border: 1px solid #f5a810;
    border-radius: 10px;
    padding: 20px;
}

.curiosidade > img {
    float: left;
    margin-right: 20px;
}

.casta-de-abelha {
    border-radius: 50%;
    border: 5px inset #f5a810;
    shape-outside: circle(50%);
}

.img-esquerda {
    float: left;
    margin-right: 20px;
}

.img-direita {
    float: right;
    margin-left: 20px;
}

#page-header {
    background-color: #FFFFFF44;
    box-shadow: 4px 4px 4px #0003;
    padding: 30px;
}

a:link {
    text-decoration: none;
    color: mediumblue;
}

a:hover {
    color: brown;
    text-decoration: underline;
}

a:active {
    color: blueviolet;
}

a:visited {
    color: blueviolet;
}

a[href^="http"] {
    background-color: #FF000044;
}

p:last-of-type {
    text-align: right;
}

img:not([alt]) {
    border: 4px solid red;
}